[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=MXFB Style Editor
Name[ca]=
Name[cz]=
Name[de]=MXFB Stil-Editor
Name[el]=
Name[es]=
Name[fr]=
Name[fr_BE]=
Name[it]=
Name[ja]=
Name[nl]=
Name[pl]=
Name[pt]=
Name[pt_BR]=
Name[ru]=
Name[sv]=
Comment=Edit the colors of MX-Fluxbox styles
Comment[ca]=
Comment[de]=Bearbeite MX-Fluxbox Stilfarben
Comment[el]=
Comment[es]=
Comment[fr]=
Comment[fr_BE]=
Comment[it]=
Comment[ja]=
Comment[nl]=
Comment[pl]=
Comment[pt]=
Comment[pt_BR]=
Comment[ru]=
Comment[sv]=
Categories=Settings;X-MXFB-Tools;
Exec=mxfb-style-editor
Terminal=false
Icon=mxfb-style-editor
Keywords=style;theme;fluxbox
NoDisplay=false
StartupNotify=false
StartupWMClass=mxfb-style-editor
