Source: mxfb-style-editor
Section: x11
Priority: optional
Maintainer: Melber <melber.mx.linux@gmail.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.6.2
Homepage: <https:/mxlinux.org>

Package: mxfb-style-editor
Architecture: all
Depends: 
Description: Edit the colors of MX-Fluxbox styles
